.DS_Store

node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

/dist

.env
.env.local
.env.*.local

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/coverage

*.log

*.tmp
*.temp

Thumbs.db
ehthumbs.db
Desktop.ini

/.cache
/.nuxt
/.next
/.vuepress/.temp

.eslintcache

.out
.storybook-out

.npm

.parcel-cache
/.webpack

.history

jspm_packages/
